body{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

header{
	width: 100%;
background: #1c1c1c;
 }

#btn-menu{
	display: none;
}

header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

.menu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.menu ul{
	flex-grow: 1;
}

.menu li:hover{
	font-size: 20px;
	cursor: pointer;
	position: relative;
	background-color:rgba(93,194,30, .3) ;
	transition: .1s;
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #5dc21e;
	text-decoration: none; 
}

.con{
	width: 100%;
background:#5dc21e;
}

#btn-meniu{
	display: none;
}

header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}

.meniu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	box-shadow:inset 0 0 10px #1c1c1c;
}

.meniu ul{
	flex-grow: 1;
}

.meniu li:hover{
	font-size: 20px;
	cursor: pointer;
	position: relative;
	background-color:rgba(0,0,0, .3) ;
	transition: .1s;
}

.meniu li a {
	display: block;
	padding: 15px 20px;
	color: #1c1c1c;
	text-decoration: none;
}

#panel2{
	width:100%;
	height:400px;
	background-image: url(../images/finalf.png); 
	margin-top: 28px;
	margin-bottom: 40px;
}




.spa{
	width: 100%;
	height: 30px;
	margin-top: 1250px;
}

#ver{
	font-family: 'Titillium Web', sans-serif;
	border-radius: 7px;
	background-color: rgba(0,0,0,.2);
	color: black;
	border: 2px solid black; 
	padding:4px 50px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	margin-left: 500px;
}

#ver:hover{
	background-color:rgba(93,194,30, .2) ;
	transition: .1s;
}

#sol {
	margin-left: 60px;
}

#btn-men{
	display: none;
}

.men ul{
	list-style: none; 
	display: flex;
	justify-content: center;
}	

.men ul{
	flex-grow: 1;
	margin-bottom: 0px;
}

.men li:hover{
	font-size: 22px;
	cursor: pointer;
	position: relative;
	background-color:rgba(193,193,193, .3) ;
	transition: .1s;
	margin: 0px;
}

.men li a {
	display: block;
	padding: 15px 25px;
	color: #c1c1c1;
	text-decoration: none; 
}

#c1{
	width: 325px;
	height: 370px;
	background-color: #1c1c1c;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}


#vero{
	font-family: 'Titillium Web', sans-serif;
	border-radius: 7px;
	background-color: rgba(0,0,0,.2);
	color: #5dc21e;
	border: 2px solid #5dc21e; 
	padding:1px 60px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	margin-left: 60px;
	margin-top: 30px;
}

#vero:hover{
	background-color:rgba(93,194,30, .2) ;
	transition: .1s;
}

#logo{
	width: 247px;
	height: 60px;
	background-image: url(../images/logo.png);
	margin-right: 20px;
}

#nuevo{
	width: 100%;
	height: 20px;
	background-color: #1c1c1c;
	margin-top: 20px;
}

#nuevo h1{
	text-align: center;
	color: #5dc21e; 
}

#panel2 button{
	float: right;
	margin-top: 330px;
	margin-right: 40px;
}

header{
background: #1c1c1c;
 }

.navbar ul{
	justify-content: center;
	flex-grow: 1;
	margin: none;
}

.navbar li:hover{
	font-size: 23px;
	cursor: pointer;
	position: relative;
	transition: .6s;
	margin: none;
	border: none;
}

.navbar li a {
	display: block;
	color: #5dc21e;
	margin-left: 10px;
	text-decoration: none; 
}


figure.effect-oscar figcaption {
  padding: 3em;
  background-color: rgba(58,52,42,0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}

figure.effect-oscar h2 {
  margin: 20% 0 10px 0;
  transition: transform 0.35s;
  transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
  transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  transform: scale(1);
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
  opacity: 0.4;
}

.grid figure {
  position: relative;
  min-width: 300px;
  max-width: 326px;

  background: #3085a3;
  text-align: center;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  opacity: 0;
}

.grid figure h2 {
  font-weight: 30px;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}


.footer-bs {
	color: #5dc21e;
    background-color: #1c1c1c;
	padding: 60px 40px;
}

.foote{
	background-color: #5dc21e;
}

.footer-bs .footer-nav h4{
	font-size: 21px;
	margin-top: 30px;
	color: #5dc21e;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-bs .footer-nav ul.list{ 
	list-style:none; padding:0px; 
}

.footer-bs .footer-nav ul.list li{ 
	padding:4px;
}

.footer-bs .footer-nav ul.list a{ 
	color:rgba(255,255,255,0.80); 
}

.footer-bs .footer-nav ul.list a:hover{ 
	color:rgba(255,255,255,0.60); text-decoration:none; 
}

.footer-bs .footer-social ul{ 
	list-style:none; padding:0px;
}

.footer-bs .footer-social h4{
	font-size: 21px;
	margin-top: 30px;
	color: #5dc21e;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer-bs .footer-social li{ 
	padding:4px;
}
.footer-bs .footer-social a{ 
	color:rgba(255,255,255,0.80); 
}

.footer-bs .footer-social a:hover{ 
	color:rgba(255,255,255,0.60); text-decoration:none; 
}

.destacados{
	padding: 30px;
}

.cone{
	margin-bottom: 60px;
}