
body{
	margin:0;
	font-family: 'Titillium Web', sans-serif;


}

header{
	width: 100%;
background:black;
}
 #logo{

 }
#btn-menu{
	display: none;
}
header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
.menu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;

}	
.menu ul{
	flex-grow: 1;
}
.menu li:hover{
	font-size: 20px;
	cursor: pointer;
	position: relative;
	background-color:rgba(93,194,30, .3) ;
	transition: .1s;
}

.menu li a {
	display: block;
	padding: 15px 20px;
	color: #5dc21e;
	text-decoration: none; 
}


.con{
	width: 100%;
background:#5dc21e;
}

#btn-meniu{
	display: none;
}
header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
.meniu ul{
	margin:0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;

}	
.meniu ul{
	flex-grow: 1;
}
.meniu li:hover{
	font-size: 20px;
	cursor: pointer;
	position: relative;
	background-color:rgba(0,0,0, .3) ;
	transition: .1s;
}

.meniu li a {
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none; 
}
#logo{
	width: 300px;
	height: 59px;
margin-right: 60px;

background-image: url(../images/stick.png);
}

#panel2{
	width:1300px;
	height:300px;
	background: red; 
	padding: 20px;
	margin: 20px;
}
.col{
	width: 400px;
	height: 260px;
	background-image: url(../images/2_battlefield_3_aftershock.jpg);

	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 20px;
	margin-top: 10px;
}

h2{
	margin-top: 250px;
}
#panel2{
	text-align: center;
	overflow: hidden;

}
.col h2{
color:black;
}
#very{
	font-family: 'Titillium Web', sans-serif;
	border-radius: 7px;
	background-color: rgba(0,0,0,.2);
	color: black;
	border: 2px solid black; 
	padding:4px 50px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
/*	background-image: url(../images/lupo.png);
	background-repeat: no-repeat;*/
}
#very:hover{
	background-color:rgba(93,194,30, .2) ;
	transition: .1s;

}